body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: cornsilk;
  /* background: linear-gradient(black, white); */
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}


.icons-attribution, .game-status{
  margin-top: 20px;
  min-height: 50px;
}

.game-status {
  font-size: larger;
  font-weight: 600;
}



.dark-square{
background-color: RGB(187,190,100);
}

.light-square{
    background-color: RGB(234,240,206);
}

#player-turn-box{
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  margin-bottom: 10px;
  margin-top: 15px
}

.turntext {
  margin-right: 25px;
}

.main-cont {
  width: 449px;
  margin: auto;
  padding: 10px;
}

.row {
  display: flex !important;
  width: 360px;
}
.reset {
  margin-left: auto;
  float: right;
  height: 40px;
  margin-top: 9px;
}
.top {
  margin-left: 160px;
}